.FormInput {
    display: flex;
    justify-content: center;
    flex-direction: column;

    label {
        padding: 2px 5px;
        text-align: left;
        font-size: 13px;
        opacity: 0.7;
    }

    input {
        border: 2px solid #d7e0e0;
        border-radius: 10px;
        padding: 12px;
        background: none;

        &:focus {
            border: 2px solid #5da78e;
            outline: none;
        }
    }
}