<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <h2>{{appname}}</h2>
    <legend>Sign up with your email address</legend>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" spellCheck="false" autoComplete="email" formControlName="email" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="new-password" autoComplete="new-password" formControlName="password" />
    </div>
    <button type="submit">Sign Up</button>
    <a [routerLink]="['/account/signin']">Have an Account?</a>
</form>